/* Styling for the Control Page */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #3a3f58;
    color: #ffffff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.buttons {
    margin: 10px;
    text-align: center;
}

#joysticks {
    display: flex;
    justify-content: space-between; /* Espacio entre los joysticks */
    align-items: center;
    width: 90%; /* Espacio disponible horizontal */
    height: 70%; /* Joysticks ocupan el 70% de la altura */
    margin-top: 10px;
    flex-wrap: wrap; /* Si el espacio no es suficiente, organiza en dos filas */
}

/* Contenedores de los joysticks */
.joystick-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%; /* Cada joystick ocupa el 48% del ancho disponible */
    height: 100%; /* Usan todo el espacio vertical */
}

/* Estilo para los joysticks */
#joystick1, #joystick2 {
    width: 90%; /* El joystick ocupa el 90% del ancho del contenedor */
    aspect-ratio: 1 / 1; /* Mantiene un aspecto cuadrado */
    border: 2px solid #1d3557;
    border-radius: 50%; /* Hace el joystick circular */
    background: radial-gradient(circle, #e0e0e0, #c0c0c0);
    position: relative;
    margin: 10px 0;
}
